rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // get - used if a client with want to read this document.
      // list - used if there is going to be a query returning this document.
      // To make this rule cascade I'll have to use restOfPath=** wildcard otherwise it won't.
      allow read, write: if false;
    }

    function isLoggedInStoreOwner(){
      return request.auth != null &&
      exists(/databases/$(database)/documents/store_owners/
      $(request.auth.uid));
    }

    // Use Case Name & Number - Represent All Stores 1B.
    // Note: Has Model Named {StoreNameInfo}
    // Done With Unit Testing.
    match /stores_names_info/{storeNameInfoId}{
      allow read: if true;
      allow create, update, delete: if false; // Called By A Cloud Function Only.
    }

    // Use Case Name & Number - Represent All Stores 1B.
    // Note: Has Model Named {StoreOwner}
    match /store_owners/{storeOwnerId}{

      // Only allow a logged in alcoholic who is not a store owner yet to become one.
      // Suppose to be a create not a write.
      allow create: if request.auth != null &&
      exists(/databases/$(database)/documents/store_owners/
      $(request.auth.uid))==false;

      // Any user can only update or delete his/her store owner account.
      allow update, delete: if request.auth != null &&
      resource.data.storeOwnerId==request.auth.uid; 

      allow list: if isLoggedInStoreOwner();

      allow get; // Anybody can view a store owner.

      
      
    }

    // Note: Has Model Named {Store}
    // Done With Unit Testing.
    match /stores/{storeId}{

      // Only logged in store owners can update their store.
      allow update, delete: if request.auth != null &&
       resource.data.storeOwnerFK==request.auth.uid;

      // Any logged in store owner can read store's info his/her store info.
      allow read: if true;
      
      // Only allow logged in alcoholics who are not store owners to create a store.
      // By doing this, only then will they become store owners.
      // The unit tests fails I don't know why.
      allow create: if request.auth != null &&
      exists(/databases/$(database)/documents/store_owners/$(request.auth.uid))==false &&
      request.resource.data.storeId != null  &&
      request.resource.data.storeName != null &&
      request.resource.data.imageURL != null &&
      request.resource.data.sectionName != null &&
      request.resource.data.storeOwnerFK != null;

      
      
      
    }
  }
}